<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <div class="box-body">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal_virement">
                        <span class="fa fa-exchange"></span> VIREMENT
                    </button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_cpt_epargne">
                       <span class="fa fa-arrow-left"></span> DEPOT
                    </button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_cpt_bloque">
                       <span class="fa  fa-arrow-right"></span> RETRAIT
                    </button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="">
                       <span class="fa  fa-arrow-right"></span> RECUPERER LES AGIOS
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Operatin</th>
                            <th>Montant</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {$num=1} {foreach from=$operations item=operation}
                        <tr>
                            <td>{$num++}</td>
                            <td>{$operation->getType_operation()}</td>
                            <td>{$operation->getMontant()}</td>
                            <td>
                                <a href="{$url_base}Operation/delete/{$operation->getId()}" class="btn btn-danger" onclick="return confirm('Etez-vous sûre de vouloir supprimer')"><span class="fa fa-trash"></span></a>
                                <a href="{$url_base}Operation/edit/{$operation->getId()}" class="btn btn-warning"><span class="fa fa-edit"></span></a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>


<div class="modal fade" id="modal_virement">
    <div class="modal-dialog">
        <form method="post" id="form_virement">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">VIREMENT</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="adresse">Montant</label>
                        <input type="text" name="montant" class="form-control" id="montant">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="type_operation" value="virement" id="virement">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="">Compte</label>
                            <select class="form-control" name="compte_id" id="compte_id">
                                <option value="">---Choisir le compte---</option>
                                {foreach from=$comptes item=compte}
                                <option value="{$compte->getId()}">{$compte->getNumero()} - {$compte->getType_compte()}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="">Compte de destination</label>
                            <select class="form-control" name="compte2_id" id="compte2_id">
                                <option value="">---Choisir le compte---</option>
                                {foreach from=$comptes item=compte}
                                <option value="{$compte->getId()}">{$compte->getNumero()} - {$compte->getType_compte()}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Fermer</button>
                    <input type="submit" class="btn btn-primary" value="Add" name="action">
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>