<!-- Full Width Column -->
{include file='src/view/layout_front/header.html'} {include file='src/view/layout_front/topbar.html'}

<div class="content-wrapper">
    <div class="container">
        <!-- Main content -->
        <section class="content">
            <marquee behavior="12" direction="left">
                <h3>Bienvenue dans le site de recherche d'offre d'emploi</h3>
            </marquee>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <!--<img src="http://placehold.it/900x500/39CCCC/ffffff&text=Vous+chercher+un+Job" alt="First slide" width="100%">-->
                        <img src="{$url_base}public/image/demande_emploi.png" alt="First slide" width="100%">
                        <div class="carousel-caption">
                            Job
                        </div>
                    </div>
                    <div class="item">
                        <!-- <img src="http://placehold.it/900x500/3c8dbc/ffffff&text=Vous+chercher+un+stage" alt="Second slide" width="100%">-->
                        <img src="{$url_base}public/image/stagiaire.jpg" alt="First slide" width="100%">
                        <div class="carousel-caption">
                            stage
                        </div>
                    </div>
                    <div class="item">
                        <!--<img src="http://placehold.it/900x500/f39c12/ffffff&text=Vous+êtes+Entrepreneur" alt="Third slide" width="100%">-->
                        <img src="{$url_base}public/image/offre_emploi.png" alt="First slide" width="100%">
                        <div class="carousel-caption">
                            Employeur
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>

            <br> <b></b>
            <div class="row">
                {if isset($offres)} {foreach from=$offres item=offre}
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->

                    {if $offre->getCategorie()->getId()==1}
                    <div class="small-box bg-aqua">
                        {elseif $offre->getCategorie()->getId()==2}
                        <div class="small-box bg-green">
                            {elseif $offre->getCategorie()->getId()==3}
                            <div class="small-box bg-red">
                                {elseif $offre->getCategorie()->getId()==4}
                                <div class="small-box bg-orange">
                                    {elseif $offre->getCategorie()->getId()==5}
                                    <div class="small-box bg-yellow">
                                        {else}
                                        <div class="small-box bg-blue">
                                            {/if}



                                            <div class="inner">
                                                <h4 class="text-danger">{$offre->getCategorie()->getLibelle()} </h4>

                                                <p>{$offre->getlibelle()}</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-bag"></i>
                                            </div>
                                            <a href="{$url_base}Offre/postuler/{$offre->getId()}" class="small-box-footer text-danger">postuler <i class="fa fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                    {/foreach} {/if}
                                </div>
        </section>
        <!-- /.content -->
        {include file='src/view/layout_front/footer.html'}