{include file='src/view/layout_front/header.html'} {include file='src/view/layout_front/topbar.html'}

<div class="content-wrapper">
    <div class="container">
        <section class="content">
            <div class="col-md-6">
                <!-- /.box -->
                <div class="box ">
                    <div class="box-header">
                        AJOUTER UNE OFFRE
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form method="POST" action="{$url_base}Offre/save" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="entreprise_id">L'entreprise</label>
                                <input type="text" name="entreprise_id" class="form-control" id="entreprise_id" placeholder="entreprise en session">
                            </div>
                            <div class="form-group">
                                <label class="">La categorie</label>
                                <select class="form-control" name="categorie_id" id="categorie_id">
                                    <option value="">---Choisir le categorie---</option>
                                    {foreach from=$categories item=categorie}
                                    <option value="{$categorie->getId()}">{$categorie->getLibelle()}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="libelle">Intitullé de l'offre</label>
                                <input type="text" name="libelle" class="form-control" id="libelle">
                            </div>
                            <div class="form-group">
                                <label for="favori">Favoris</label>
                                <input type="text" name="favori" class="form-control" id="favori">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="action" class="btn btn-primary" value="Enrégistrer" />
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </section>
    </div>
</div>
{include file='src/view/layout_front/footer.html'}