<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- /.box -->
        <div class="box">
            <div class="box-header">
                <h1>
                    <a href="{$url_base}Compte" class="btn btn-primary">
                        <span class="fa fa-plus"></span> Nouveau
                    </a>
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Numero</th>
                            <th>Solde</th>
                            <th>Etat</th>
                            <th>Agence</th>
                            <th>Type</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {$num=1} {foreach from=$comptes item=compte}
                        <tr>
                            <td>{$num++}</td>
                            <td>{$compte->getNumero()}</td>
                            <td>{$compte->getSolde()}</td>
                            <td>
                                {if $compte->getEtat() =="actif"}
                                <span class="text-success">
                                    <i class="fa fa-spin fa-refresh"></i>
                                </span> {elseif $compte->getEtat() =="ferme"}
                                <span class="text-danger"><i class="fa fa-lock"></i></span> {else}
                                <span class="text-warning">
                                    <i class="fa fa-arrows"></i>
                                </span> {/if}
                            </td>
                            <td>{$compte->getAgence()->getLibelle()}</td>
                            <td>{$compte->getType_compte()}</td>
                            <td>
                                <a href="{$url_base}Compte/delete/{$compte->getId()}" class="btn btn-danger" onclick="return confirm('Etez-vous sûre de vouloir supprimer')"><span class="fa fa-trash"></span></a>
                                <a href="{$url_base}Compte/edit/{$compte->getId()}" class="btn btn-warning"><span class="fa fa-edit"></span></a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>